{% extends "final_project/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'final_project/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'final_project/css/nav.css' %}">
{% endblock styles %}

{% block content  %}

    <div class="main-body">
        <!-- Primary Sidebar -->
        <aside class="sidebar">
            <h1 class="logo">Logo</h1>

            {% include 'final_project/partials/tabs.html' %}

            <!-- Tags -->
            <div class="tags">
                {% for tag in tags %}
                <a href="/?tag={{ tag }}">
                    <button class="tag-button">
                        <span>{{ tag }}</span>
                    </button>
                </a>
                {% endfor %}
            </div>
        </aside>

        <!-- Main -->
        <main class="main">
            <!-- Header -->
            <header class="header">
                <h1 class="page-title">Deleted</h1>
                <div class="user-controls">
                    <div class="search-box">
                        <input
                            name="q"
                            type="text"
                            placeholder="Search by title, content, or tags..."
                        />
                    </div>
                    {% if user.is_authenticated %}
                    <span class="welcome-text">Welcome, {{ user.username }}</span>
                    <a href="/logout"><button class="link-button">Logout</button></a>
                    {% else %}
                    <a href="/login"><button class="link-button">Login</button></a>
                    {% endif %}
                </div>
            </header>

            <!-- Layout -->
            <section class="layout">
                <!-- Notes Sidebar -->
                <div id="notes" class="notes-sidebar">

                    <div class="notes-list">
                        {% for note in notes %}
                        {% comment %} href="?filter={{ request.GET.filter }}&note_id={{ note.id }}" {% endcomment %}
                        <div
                            class="note-item {% if note.is_active %}active{% endif %}"
                            data-note-id="{{ note.id }}"
                        >
                            <div class="note-details">
                                <p class="note-title">{{ note.title }}</p>
                                <div class="note-tags">
                                    {% for tag in note.tags %}
                                    <span class="note-tag">{{ tag }}</span>
                                    {% endfor %}
                                </div>
                                <p class="note-date">{{ note.updated_at }}</p>
                            </div>
                        </div>
                        {% empty %}
                        <p>Nothing to see here</p>
                        {% endfor %}
                    </div>
                </div>

                <!-- Editor -->
                <div id="editor" class="editor">
                    <div class="toggle" style="display: none;">
                        <div class="editor-header">
                            <h1 class="editor-title"></h1>

                            <div class="editor-meta">
                                <div class="meta-item"><span>Tags:</span></div>
                                <div class="meta-tags">
                                    
                                </div>
                            </div>

                            <div class="editor-meta">
                                <div class="meta-item"><span>Last edited:</span></div>
                                <span class="updated-at"></span>
                            </div>
                        </div>

                        <div class="editor-form">
                            <textarea name="content" class="content"></textarea>
                        </div=>
                    </div>

                    <p class="placeholder-text">Select a note to start editing</p>
                </div>

                <!-- Right Sidebar -->
                <div class="right-sidebar" style="display: none;">
                    <button type="submit" class="sidebar-button restore">
                        Restore Note
                    </button>
                </div>
            </section>
        </main>
    </div>

    {% block script %}
        <script src="{% static "final_project/js/index.js" %}" type="module"></script>
    {% endblock  %}


{% endblock %}
