{% extends "final_project/base.html" %}
{% load static %} 
{% block title %}Forgot Password{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'final_project/css/forgot_password.css' %}">
{% endblock styles %}

{% block content %}
<div class="forgot-container">
	<div class="forgot-header">
		<h2>Reset your password</h2>
	</div>

	<div class="forgot-form-wrapper">
		<form action="{% url 'forgot_password' %}" method="POST" class="forgot-form">
			{% csrf_token %}
			
			{% if not code_sent %}
				<div class="form-group">
					<label for="email">Email address</label>
					<input
						type="email"
						id="email"
						name="email"
						required
						placeholder="Enter your email address"
						autocomplete="email"
						value="{% if message %}{{ email }}{% endif %}"
					/>
				</div>
			
			{% else %}
				<div class="form-group">
					<label for="code" id="verification-label">Enter Verification Code</label>
					<input
						type="number"
						id="code"
						name="code"
						max-length="6"
						required
						class="{% if invalid %}error-input{% endif %}"
						placeholder="Enter the verification code"
						value="{% if message and not invalid %}{{ email }} {% elif invalid %}{{ code }}{% endif %}"
					/>
				</div>
			{% endif %}

			<span class="{% if code_sent and not expired and not invalid %}success{% else %}error{% endif %}">
				{%if message %} {{ message }} {% endif %}
			</span>

			<div>
				<button type="submit" class="btn-primary">
					{% if code_sent %}Verify{% else %}Reset Password{% endif %}
				</button>
			</div>

			{% if code_sent and expired %}
				<div class="request-new">Request New Code</div>
			{% endif %}
		</form>

		<p class="auth-text">
			Remembered your password?
			<a href="{% url 'login' %}" class="auth-link">
				Sign in
			</a>
		</p>
	</div>
</div>

    {% block script %}
        <script src="{% static "final_project/js/forgot_password.js" %}" type="module"></script>
    {% endblock  %}

{% endblock %}
