{% extends "final_project/base.html" %}
{% load static %} 
{% block title %}Forgot Password{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'final_project/css/forgot_password.css' %}">
{% endblock styles %}

{% block content %}
<div class="forgot-container">
	<div class="forgot-header">
		<h2>Set your new password</h2>
	</div>

	<div class="forgot-form-wrapper">
		<form action="{% url 'set_new_password' %}" method="POST" class="forgot-form">
			{% csrf_token %}
			
				<!-- Password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    id="password"
                    type="password"
                    name="password"
                    required
                    placeholder="Enter your password"
                    autocomplete="new-password"
                />
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
                <label for="confirmation">Confirm Password</label>
                <input
                    id="confirmation"
                    type="password"
                    name="confirmation"
                    required
                    placeholder="Re-enter your password"
                    autocomplete="new-password"
                />
            </div>
			
			

			<span class="{% if error %}error{% endif %}">
				{% if error %} {{ error }} {% endif %}
			</span>

			<div>
				<button type="submit" class="btn-primary">
					{% if code_sent %}Verify{% else %}Reset Password{% endif %}
				</button>
			</div>
		</form>
	</div>
</div>

    {% block script %}
        <script src="{% static "final_project/js/forgot_password.js" %}" type="module"></script>
    {% endblock  %}

{% endblock %}
