{% extends "final_project/base.html" %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'final_project/css/index.css' %}" />
<link rel="stylesheet" href="{% static 'final_project/css/nav.css' %}" />
{% endblock styles %} {% block content %}

<!-- Tabs -->
<div class="tabs">
	<a href="/all" class="tab-link">
		<span>All Notes</span>
	</a>
	<a href="/archives" class="tab-link">
		<span>Archived Notes</span>
	</a>
	<a href="/deleted" class="tab-link">
		<span>Deleted Notes</span>
	</a>
</div>

{% endblock %}
